.page {
	max-width: 1280px;
	min-width: 320px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 20px;
	background: #000;
	box-sizing: border-box;
	font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
	/* просто копируй эту пачку в каждый проект ↓ */
	/* cглаживание шрифтов для разных браузеров ↓ */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* увеличение шрифтов для разных браузеров ↓ */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	/* кёрнинг и лигатуры для шрифтов разных браузеров ↓ */
	text-rendering: optimizeLegibility;
}

@media (max-width: 500px) {
	.page {
		padding: 0;
	}
}
