.profile__title {
  max-width: 294px;
  min-height: 39px;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding-right: 18px;
  /* del */
  grid-row: 1 / 2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 426px) {
  .profile__title {
    max-width: 189px;
    min-height: 26px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    padding: 0;
    /* align-self: center; */
  }
}