@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

/* Тело страницы */

/* 
.html {
	scroll-behavior: smooth;
} */

.page {
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  background: #000;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
	font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
	/* просто копируй эту пачку в каждый проект ↓ */
	/* cглаживание шрифтов для разных браузеров ↓ */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* увеличение шрифтов для разных браузеров ↓ */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	/* кёрнинг и лигатуры для шрифтов разных браузеров ↓ */
	text-rendering: optimizeLegibility;
}

/* Кастомизация вертикального скролла */

::-webkit-scrollbar {
	width: 2px;
	background-color: rgb(53, 53, 53);
	border-radius: 10px;
	border: 2px solid white;
}
  
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #FFFFFF;
}
  
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background-color: #2A2C2F;
}

/* HEADER */

.header {
  max-width: 880px;
  min-height: 74px;
  margin: 45px auto 40px;
  border-bottom: 1px solid #545454;
}

/* TABLET */

@media (max-width: 768px) {
  .header {
    max-width: 100%; 
  }
}

/* MOBILE */

@media (max-width: 500px) {
  .header {
    max-width: 425px;
    min-height: 56px;
    margin: 28px auto 42px;
  }
}

.header__logo {
  max-width: 142px;
  min-height: 33px;
}

/* MOBILE */

@media (max-width: 500px) {
  .header__logo {
    max-width: 104px;
    min-height: 25px;
    padding-left: 27px;
  }
}

/* CONTENT */

.content {
  /* display: flex; */
}

/* PROFILE */

.profile {
  /* min-height: 120px; */
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .profile {
    max-width: 100%;
  }
}

@media (max-width: 426px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    gap: 36px;
  }
}

.profile__wrapper {
  display: flex;
}

@media (max-width: 426px) {
  .profile__wrapper {
    flex-direction: column;
    gap: 26px;
  }
}

.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 100%;
}

@media (max-width: 426px) {
  .profile__avatar {
    margin: auto;
  }
}


.profile__info {
  max-width: 348px;
  min-height: 73px;
  display: grid;
  grid-template-rows: 55px 24px;
  margin: auto 0;
  margin-left: 30px;
}

@media (max-width: 426px) {
  .profile__info {
    max-width: 282px;
    min-height: 54px;
    margin: auto;
    position: relative;
    top: 0;
    left: 15px;
    grid-template-rows: 36px 24px;
  }
}

.profile__title {
  max-width: 294px;
  min-height: 39px;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding-right: 18px;
  /* del */
  grid-row: 1 / 2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 426px) {
  .profile__title {
    max-width: 189px;
    min-height: 26px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    padding: 0;
    /* align-self: center; */
  }
}

.profile__subtitle {
  color: #fff;
  max-width: 336px;
  min-height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  /* del */
  grid-row: 2 / 3;
  align-self: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 426px) {
  .profile__subtitle {
    max-width: 282px;
    min-height: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    /* align-self: end; */
  }
}

.profile__edit-btn {
  cursor: pointer;
  background-image: url(../images/icons/edit_button.svg);
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
  border: 1px solid #fff;
  border-radius: 10%;
  width: 24px;
  height: 24px;
  padding: 0;
  /* del */
  grid-column: 2 / 3;
  justify-self: end;
  align-self: center;
  transition: opacity 0.2s ease;
}

.profile__edit-btn:hover {
  opacity: 0.5;
}

@media (max-width: 426px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}

.profile__add-btn {
  cursor: pointer;
  background-image: url(../images/icons/add_button.svg);
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
  border: 1px solid #fff;
  border-radius: 3%;
  width: 150px;
  height: 50px;
  padding: 0;
  margin: auto 0;
  transition: opacity 0.2s ease;
}

.profile__add-btn:hover {
  opacity: 0.5;
}

@media (max-width: 426px) {
  .profile__add-btn {
    background-image: url(../images/icons/add_button_02.svg);
    width: 282px;
    align-self: center;
  }
}

/* ELEMENTS */

.elements {
  max-width: 880px;
  min-height: 744px;
  padding-top: 50px;
  margin: 0 auto;
}

.elements__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: auto;
  gap: 20px 17px;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.elements__item {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  background-color: #fff;
}

.elements__img {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 282px;
  object-fit: cover;
  object-position: center;
}

.elements__wrapper {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.elements__name {
  max-width: 246px;
  min-height: 23px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.elements__butt {
  background-image: url(../images/icons/heart_button_disabled.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  width: 23px;
  height: 19px;
  box-sizing: border-box;
  border: none;
  flex-shrink: 0;
  transition: opacity 0.2s ease;
}

.elements__butt:hover {
  opacity: 0.5;
}
/* 
.elements_butt-liked {
  background-image: url(../images/icons/heart_button_active.svg);
} */

/* FOOTER */

.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 66px 0 60px 0;
}

@media (max-width: 450px) {
  .footer {
    padding: 48px 0 36px 0;
  }
}

.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media (max-width: 450px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}

/* POP-UP */

.profiles-pop-up {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
  /* del or mod trans prop ↑ */
}

.pop-up_opened {
  visibility: visible;
  opacity: 3;
  /* del or mod ↑ */
}

.pop-up__container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 55px;
  position: relative;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #fff;
  width: 430px;
  padding: 35px;
}

@media (max-width: 450px) {
  .pop-up__container {
    padding: 25px;
    gap: 75px;
  }
}

.pop-up__title {
  max-width: 330px;
  min-height: 23px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

@media (max-width: 450px) {
  .pop-up__title {
    max-width: 238px;
    min-height: 22px;
    font-size: 18px;
    line-height: 22px;
    /* align-self: center; */
  }
}

.pop-up__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pop-up__input {
  display: block;
  max-width: 358px;
  min-height: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #000;
  padding: 0;
}

.pop-up__sub-butt {
  cursor: pointer;
  max-width: 358px;
  min-height: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* text-align: center; */
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  padding: 0;
  margin-top: 18px;
  transition: opacity 0.2s ease;
}

.pop-up__sub-butt:hover {
  opacity: 0.5;
}

@media (max-width: 450px) {
  .pop-up__sub-butt {
    /* max-width: 238px; */
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }
}

.pop-up__close-butt {
  display: block;
  position: absolute;
  top: -35px;
  right: -35px;
  background-image: url(../images/icons/close_icon_l.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.pop-up__close-butt:hover {
  opacity: 0.5;
}

@media (max-width: 550px) {
  .pop-up__close-butt {
    width: 20px;
    height: 20px;
    right: 0px;
  }
}
