@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__wrapper/profile__wrapper.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__grid/elements__grid.css);
@import url(../blocks/elements/__item/elements__item.css);
@import url(../blocks/elements/__img/elements__img.css);
@import url(../blocks/elements/__bin/elements__bin.css);
@import url(../blocks/elements/__wrapper/elements__wrapper.css);
@import url(../blocks/elements/__name/elements__name.css);
@import url(../blocks/elements/__butt/elements__butt.css);
@import url(../blocks/elements/__butt/_liked/elements__butt_liked.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/pop-up/pop-up.css);
@import url(../blocks/pop-up/_opened/pop-up_opened.css);
@import url(../blocks/pop-up/__container/pop-up__container.css);
@import url(../blocks/pop-up/__title/pop-up__title.css);
@import url(../blocks/pop-up/__form/pop-up__form.css);
@import url(../blocks/pop-up/__input/pop-up__input.css);
@import url(../blocks/pop-up/__input/_type-error/pop-up__input_type-error.css);
@import url(../blocks/pop-up/__input-error/pop-up__input-error.css);
@import url(../blocks/pop-up/__input-error/_active/pop-up__input-error_active.css);
@import url(../blocks/pop-up/__sub-butt/pop-up__sub-butt.css);
@import url(../blocks/pop-up/__sub-butt/_disabled/pop-up__sub-butt_disabled.css);
@import url(../blocks/pop-up/__close-butt/pop-up__close-butt.css);
@import url(../blocks/pop-up/__img-container/pop-up__img-container.css);
@import url(../blocks/pop-up/__image/pop-up__image.css);
@import url(../blocks/pop-up/__caption/pop-up__caption.css);
